:root {
    --backgroundColor: #EFEEEE;
    --backgroundItemColor: #FFFFFF;
    --transparent: transparent;
    --itemHover: #F4F4F4;
    --textItemColor: #333333;
    --shadowItem: rgba(0, 0, 0, 0.06);
}

.container {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--backgroundColor);
}

.container h1 {
    text-transform: uppercase;
}

.container ul {
    height: 80%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

.dropdown {
    width: 400px;
    margin: auto;
    user-select: none;
    position: relative;
}
.dropdown.active {
    margin-bottom: 50px;
  }
.dropdown .dropdown-btn {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 10px 6px var(--shadowItem);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    color: var(--textItemColor);
    background-color: var(--backgroundItemColor);
}

.dropdown .dropdown-btn span img {
    width: 10px;
    transform: rotate(90deg);
}

.dropdown .dropdown-content {
    width: 95%;
    padding: 10px;
    position: absolute;
    top: 110%;
    left: 0;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    background-color: var(--backgroundItemColor);
    border-radius: 0 0 10px 10px;
}

.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all .2s;
    
}

.dropdown .dropdown-content .dropdown-item:hover {
    background-color: var(--itemHover);

}

.container .footer {
    height: 100px;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    
}

.container .footer p {
    z-index: 2;
    color: #FFFFFF;
    
}

.container .footer p img {
    width: 150px;
}

.container .footer .footer-animate:nth-child(1) {
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #00A6ED;
    animation: footer 8s ease-in-out infinite;
}

.container .footer .footer-animate:nth-child(2) {
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: 0;
    background-color: #FFFFFF;
    animation: footerv2 8s ease-in-out infinite;
}

@keyframes footer {

    0%,
    100% {
        clip-path: polygon(0 66%, 13% 59%, 25% 54%, 36% 52%, 49% 53%, 59% 56%, 68% 61%, 78% 61%, 90% 57%, 100% 51%, 100% 100%, 0 100%);
    }

    50% {
        clip-path: polygon(0 43%, 11% 56%, 27% 61%, 40% 62%, 54% 58%, 63% 51%, 73% 47%, 83% 49%, 93% 57%, 100% 64%, 100% 100%, 0 100%);
    }
}

@keyframes footerv2 {

    0%,
    100% {
        clip-path: polygon(0 43%, 11% 56%, 27% 61%, 40% 62%, 54% 58%, 63% 51%, 73% 47%, 83% 49%, 93% 57%, 100% 64%, 100% 100%, 0 100%);
    }

    50% {
        clip-path: polygon(0 66%, 13% 59%, 25% 54%, 36% 52%, 49% 53%, 59% 56%, 68% 61%, 78% 61%, 90% 57%, 100% 51%, 100% 100%, 0 100%);
    }
}